@font-face {
    font-family: china-light;
    src: url(./NeueMachina-Light.otf);
}
@font-face {
    font-family: china-reg;
    src: url(./NeueMachina-Regular.otf);
}
@font-face {
    font-family: china-bold;
    src: url(./NeueMachina-Ultrabold.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
}
body{
    background-color: #111;
    overflow: hidden;
}
#page1{
    min-height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.animation{
    display: flex;
    overflow: hidden;
    gap: 1rem;
    padding: 1rem;
}
.move{
    display: flex;
    height: 80%;
    width: fit-content;
    gap: 1rem;
    padding-bottom: 1rem;
    background-color: #D8FF04;
    overflow: hidden;
    flex-direction: column;
    
}
.move2{
    display: flex;
    height: max-content;
    width: fit-content;
    background-color: red;
    overflow: hidden;
    flex-direction: column;
    
}
.marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}



.marque img{
    width: 250px;
    height:300px;
    object-fit: cover;
    aspect-ratio: 2/3;
}
.marque2{
    transform: translateY(-100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.marque2 img{
    width: 250px;
    height:300px;
    object-fit: cover;
}
