*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    background-color: #111;
}
body{
    overflow-x: hidden;
}
#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: black;

}
#page2{
    height: 100%;
    width: 100%;
    background-color: lightseagreen;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: royalblue;
}

#page2 h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
}